html {
  height: 97%;
}

body {
  background: rgba(199, 199, 199, 255);
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  height: 96.5%;
  width: 1px;
  opacity: 0.4;
  position: absolute;
  margin: 0 0 0 2%;
  z-index: 1;
}

.cont-all {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(98, 91, 91, 255);
}

.cont-description {
  width: 100%;
  height: 35%;
  background: rgba(48, 63, 70, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgba(128, 139, 145, 255);
  font-size: 8px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
}

P:first-of-type {
  font-family: "Dancing Script", cursive;
}

h2 {
  color: rgba(215, 160, 45, 255);
  border-color: rgba(120, 99, 43, 255);
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-family: "Playfair Display", serif;
}

.cont-text {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cont-photo {
  background: url(../img/fotoMarlin.jpg) white;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cont-links {
  width: 40%;
  height: 20%;
  margin-bottom: 5%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cont-media {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

ul {
  list-style-type: none;
  text-align: left;
}

li {
  text-align: left;
  padding-top: 10px;
  display: inline;
}

a {
  text-decoration: none;
  font-size: 10px;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: rgb(230, 225, 225);
}

i {
  font-size: 20px;
  color: rgb(230, 225, 225);
}

@media screen and (max-width: 1050px) {
  .cont-all {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .cont-all {
    width: 70%;
  }

  hr {
    margin-left: 5%;
  }

  .cont-links {
    margin-left: 7%;
  }
}

@media screen and (max-width: 500px) {
  .cont-all {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .cont-all {
    width: 100%;
  }

  .cont-links {
    width: 50%;
  }

  .cont-media {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  i {
    font-size: 15px;
  }
}
